In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup as BS
import re
from PIL import Image
from pytesseract import pytesseract

# Wikipedia

In [2]:
wikipedia_url = "https://en.wikipedia.org/wiki/2019_Nigerian_general_election#:~:text=Incumbent%20president%20Muhammadu%20Buhari%20won,by%20over%203%20million%20votes."
wikipedia_html = requests.get(wikipedia_url)

In [3]:
wikipedia_soup = BS(wikipedia_html.text, 'html.parser')
wikipedia_table = wikipedia_soup.find_all("table", {"class":"wikitable sortable","style":"text-align:right"})

In [4]:
wikipedia_table

[<table class="wikitable sortable" style="text-align:right">
 <tbody><tr>
 <th rowspan="2">State
 </th>
 <th colspan="2"><a href="/wiki/Muhammadu_Buhari" title="Muhammadu Buhari">Buhari</a>
 </th>
 <th colspan="2"><a href="/wiki/Atiku_Abubakar" title="Atiku Abubakar">Atiku</a>
 </th>
 <th colspan="2">Nicolas
 </th>
 <th colspan="2"><a href="/wiki/Omoyele_Sowore" title="Omoyele Sowore">Sowore</a>
 </th>
 <th colspan="2"><a href="/wiki/Kingsley_Moghalu" title="Kingsley Moghalu">Moghalu</a>
 </th>
 <th colspan="2"><a href="/wiki/Fela_Durotoye" title="Fela Durotoye">Durotoye</a>
 </th>
 <th colspan="2"><a href="/wiki/Donald_Duke" title="Donald Duke">Duke</a>
 </th>
 <th colspan="2"><a href="/wiki/Obadiah_Mailafia" title="Obadiah Mailafia">Mailafia</a>
 </th></tr>
 <tr>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%</th>
 <th>Votes</th>
 <th>%
 </th></tr>
 <tr>
 <td align="left"><a href="/wiki/Abia_State" title="Abia State">Abia</a></td>
 <td>85,058
 </td>
 <td>26.31</td>
 <td><b>219,698</b>
 </td>
 <td><b>67.96</b>
 </td>
 <td>1,489
 </td>
 <td>0.46</td>
 <td>212
 </td>
 <td></td>
 <td>88
 </td>
 <td>0.22</td>
 <td>720
 </td>
 <td></td>
 <td>472
 </td>
 <td></td>
 <td>336
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Adamawa_State" title="Adamawa State">Adamawa</a></td>
 <td>378,078
 </td>
 <td>46.59</td>
 <td><b>410,266</b>
 </td>
 <td><b>50.55</b>
 </td>
 <td>3,670
 </td>
 <td>0.45</td>
 <td>282
 </td>
 <td></td>
 <td>109
 </td>
 <td></td>
 <td>162
 </td>
 <td></td>
 <td>978
 </td>
 <td></td>
 <td>3,989
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Akwa_Ibom_State" title="Akwa Ibom State">Akwa Ibom</a></td>
 <td>175,429
 </td>
 <td>30.31</td>
 <td><b>395,832</b>
 </td>
 <td><b>68.39</b>
 </td>
 <td>1,902
 </td>
 <td>0.33</td>
 <td>222
 </td>
 <td></td>
 <td>118
 </td>
 <td></td>
 <td>95
 </td>
 <td></td>
 <td>92
 </td>
 <td></td>
 <td>230
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Anambra_State" title="Anambra State">Anambra</a></td>
 <td>33,298
 </td>
 <td>5.50</td>
 <td><b>524,738</b>
 </td>
 <td><b>86.63</b>
 </td>
 <td>4,374
 </td>
 <td>0.72</td>
 <td>124
 </td>
 <td></td>
 <td>4,091
 </td>
 <td></td>
 <td>45
 </td>
 <td></td>
 <td>932
 </td>
 <td></td>
 <td>227
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Bauchi_State" title="Bauchi State">Bauchi</a></td>
 <td><b>798,428 </b>
 </td>
 <td><b>77.95</b></td>
 <td>209,313
 </td>
 <td>20.43
 </td>
 <td>2,104
 </td>
 <td>0.21</td>
 <td>183
 </td>
 <td></td>
 <td>112
 </td>
 <td></td>
 <td>46
 </td>
 <td></td>
 <td>516
 </td>
 <td></td>
 <td>296
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Bayelsa_State" title="Bayelsa State">Bayelsa</a></td>
 <td>118,821
 </td>
 <td>36.93</td>
 <td><b>197,933</b>
 </td>
 <td><b>61.51</b>
 </td>
 <td>1,584
 </td>
 <td>0.49</td>
 <td>126
 </td>
 <td></td>
 <td>50
 </td>
 <td></td>
 <td>37
 </td>
 <td></td>
 <td>124
 </td>
 <td></td>
 <td>1,078
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Benue_State" title="Benue State">Benue</a></td>
 <td>347,668
 </td>
 <td>47.70</td>
 <td><b>356,817</b>
 </td>
 <td><b>48.95</b>
 </td>
 <td>2,793
 </td>
 <td>0.38</td>
 <td>309
 </td>
 <td></td>
 <td>557
 </td>
 <td></td>
 <td>201
 </td>
 <td></td>
 <td>4,927
 </td>
 <td></td>
 <td>554
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Borno_State" title="Borno State">Borno</a></td>
 <td><b>836,496</b>
 </td>
 <td><b>90.94</b></td>
 <td>71,788
 </td>
 <td>7.80
 </td>
 <td>
 </td>
 <td></td>
 <td>269
 </td>
 <td></td>
 <td>78
 </td>
 <td></td>
 <td>29
 </td>
 <td></td>
 <td>322
 </td>
 <td></td>
 <td>301
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Cross_River_State" title="Cross River State">Cross River</a></td>
 <td>117,302
 </td>
 <td>27.80</td>
 <td><b>295,737</b>
 </td>
 <td><b>70.10</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>242
 </td>
 <td></td>
 <td>217
 </td>
 <td></td>
 <td>88
 </td>
 <td></td>
 <td>1,395
 </td>
 <td></td>
 <td>326
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Delta_State" title="Delta State">Delta</a></td>
 <td>221,292
 </td>
 <td>26.67</td>
 <td><b>594,068</b>
 </td>
 <td><b>71.59</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>1,626
 </td>
 <td></td>
 <td>497
 </td>
 <td></td>
 <td>320
 </td>
 <td></td>
 <td>1,745
 </td>
 <td></td>
 <td>1,075
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Ebonyi_State" title="Ebonyi State">Ebonyi</a></td>
 <td>90,726
 </td>
 <td>25.26</td>
 <td><b>258,573</b>
 </td>
 <td><b>72.00</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>205
 </td>
 <td></td>
 <td>192
 </td>
 <td></td>
 <td>683
 </td>
 <td></td>
 <td>452
 </td>
 <td></td>
 <td>213
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Edo_State" title="Edo State">Edo</a></td>
 <td>267,842
 </td>
 <td>47.77</td>
 <td><b>275,691</b>
 </td>
 <td><b>49.17</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>3,106
 </td>
 <td></td>
 <td>531
 </td>
 <td></td>
 <td>273
 </td>
 <td></td>
 <td>184
 </td>
 <td></td>
 <td>850
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Ekiti_State" title="Ekiti State">Ekiti</a></td>
 <td><b>219,231</b>
 </td>
 <td><b>57.52</b></td>
 <td>154,032
 </td>
 <td>40.41
 </td>
 <td>
 </td>
 <td></td>
 <td>400
 </td>
 <td></td>
 <td>68
 </td>
 <td></td>
 <td>88
 </td>
 <td></td>
 <td>48
 </td>
 <td></td>
 <td>406
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Enugu_State" title="Enugu State">Enugu</a></td>
 <td>54,423
 </td>
 <td>12.93</td>
 <td><b>355,553</b>
 </td>
 <td><b>84.45</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>219
 </td>
 <td></td>
 <td>1,379
 </td>
 <td></td>
 <td>141
 </td>
 <td></td>
 <td>130
 </td>
 <td></td>
 <td>348
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Gombe_State" title="Gombe State">Gombe</a></td>
 <td><b>402,961</b>
 </td>
 <td><b>72.71</b></td>
 <td>138,484
 </td>
 <td>24.99
 </td>
 <td>
 </td>
 <td></td>
 <td>165
 </td>
 <td></td>
 <td>39
 </td>
 <td></td>
 <td>78
 </td>
 <td></td>
 <td>248
 </td>
 <td></td>
 <td>248
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Imo_State" title="Imo State">Imo</a></td>
 <td>140,463
 </td>
 <td>27.46</td>
 <td><b>334,923</b>
 </td>
 <td><b>65.47</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>467
 </td>
 <td></td>
 <td>676
 </td>
 <td></td>
 <td>119
 </td>
 <td></td>
 <td>772
 </td>
 <td></td>
 <td>541
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Jigawa_State" title="Jigawa State">Jigawa</a></td>
 <td><b>794,738</b>
 </td>
 <td><b>71.84</b></td>
 <td>289,895
 </td>
 <td>26.21
 </td>
 <td>
 </td>
 <td></td>
 <td>226
 </td>
 <td></td>
 <td>67
 </td>
 <td></td>
 <td>66
 </td>
 <td></td>
 <td>5,011
 </td>
 <td></td>
 <td>261
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Kaduna_State" title="Kaduna State">Kaduna</a></td>
 <td><b>993,445</b>
 </td>
 <td><b>59.72</b></td>
 <td>649,612
 </td>
 <td>39.05
 </td>
 <td>
 </td>
 <td></td>
 <td>243
 </td>
 <td></td>
 <td>196
 </td>
 <td></td>
 <td>261
 </td>
 <td></td>
 <td>1,737
 </td>
 <td></td>
 <td>558
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Kano_State" title="Kano State">Kano</a></td>
 <td><b>1,464,768</b>
 </td>
 <td><b>77.45</b></td>
 <td>391,593
 </td>
 <td>20.71
 </td>
 <td>
 </td>
 <td></td>
 <td>416
 </td>
 <td></td>
 <td>200
 </td>
 <td></td>
 <td>114
 </td>
 <td></td>
 <td>635
 </td>
 <td></td>
 <td>591
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Katsina_State" title="Katsina State">Katsina</a></td>
 <td><b>1,232,133</b>
 </td>
 <td><b>79.21</b></td>
 <td>308,056
 </td>
 <td>19.8
 </td>
 <td>
 </td>
 <td></td>
 <td>186
 </td>
 <td></td>
 <td>61
 </td>
 <td></td>
 <td>82
 </td>
 <td></td>
 <td>150
 </td>
 <td></td>
 <td>237
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Kebbi_State" title="Kebbi State">Kebbi</a></td>
 <td><b>581,552</b>
 </td>
 <td><b>76.86</b></td>
 <td>154,282
 </td>
 <td>20.39
 </td>
 <td>
 </td>
 <td></td>
 <td>276
 </td>
 <td></td>
 <td>53
 </td>
 <td></td>
 <td>99
 </td>
 <td></td>
 <td>2,376
 </td>
 <td></td>
 <td>285
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Kogi_State" title="Kogi State">Kogi</a></td>
 <td><b>285,894</b>
 </td>
 <td><b>54.87</b></td>
 <td>218,207
 </td>
 <td>41.88
 </td>
 <td>
 </td>
 <td></td>
 <td>250
 </td>
 <td></td>
 <td>87
 </td>
 <td></td>
 <td>89
 </td>
 <td></td>
 <td>2,226
 </td>
 <td></td>
 <td>4,369
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Kwara_State" title="Kwara State">Kwara</a></td>
 <td><b>308,984</b>
 </td>
 <td><b>67.22</b></td>
 <td>138,184
 </td>
 <td>30.06
 </td>
 <td>
 </td>
 <td></td>
 <td>401
 </td>
 <td></td>
 <td>140
 </td>
 <td></td>
 <td>422
 </td>
 <td></td>
 <td>212
 </td>
 <td></td>
 <td>456
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Lagos_State" title="Lagos State">Lagos</a></td>
 <td><b>580,825</b>
 </td>
 <td><b>53.31</b></td>
 <td>448,015
 </td>
 <td>41.12
 </td>
 <td>
 </td>
 <td></td>
 <td>8,910
 </td>
 <td></td>
 <td>5,733
 </td>
 <td></td>
 <td>6,946
 </td>
 <td></td>
 <td>770
 </td>
 <td></td>
 <td>2,915
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a class="mw-redirect" href="/wiki/Nassarawa_State" title="Nassarawa State">Nassarawa</a></td>
 <td><b>289,903</b>
 </td>
 <td><b>49.92</b></td>
 <td>283,847
 </td>
 <td>48.87
 </td>
 <td>
 </td>
 <td></td>
 <td>75
 </td>
 <td></td>
 <td>44
 </td>
 <td></td>
 <td>45
 </td>
 <td></td>
 <td>359
 </td>
 <td></td>
 <td>339
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Niger_State" title="Niger State">Niger</a></td>
 <td><b>612,371</b>
 </td>
 <td><b>71.88</b></td>
 <td>218,052
 </td>
 <td>25.59
 </td>
 <td>
 </td>
 <td></td>
 <td>324
 </td>
 <td></td>
 <td>113
 </td>
 <td></td>
 <td>145
 </td>
 <td></td>
 <td>239
 </td>
 <td></td>
 <td>588
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Ogun_State" title="Ogun State">Ogun</a></td>
 <td><b>281,762</b>
 </td>
 <td><b>49.94</b></td>
 <td>194,655
 </td>
 <td>34.50
 </td>
 <td>
 </td>
 <td></td>
 <td>3,196
 </td>
 <td></td>
 <td>553
 </td>
 <td></td>
 <td>1,509
 </td>
 <td></td>
 <td>1,374
 </td>
 <td></td>
 <td>25,283
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Ondo_State" title="Ondo State">Ondo</a></td>
 <td>241,769
 </td>
 <td>43.48</td>
 <td><b>275,901</b>
 </td>
 <td><b>49.62</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>4,414
 </td>
 <td></td>
 <td>1224
 </td>
 <td></td>
 <td>311
 </td>
 <td></td>
 <td>1,618
 </td>
 <td></td>
 <td>6,296
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Osun_State" title="Osun State">Osun</a></td>
 <td><b>347,634</b>
 </td>
 <td><b>48.64</b></td>
 <td>337,377
 </td>
 <td>47.21
 </td>
 <td>
 </td>
 <td></td>
 <td>1,022
 </td>
 <td></td>
 <td>189
 </td>
 <td></td>
 <td>268
 </td>
 <td></td>
 <td>259
 </td>
 <td></td>
 <td>1,525
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Oyo_State" title="Oyo State">Oyo</a></td>
 <td>365,229
 </td>
 <td>43.66</td>
 <td><b>366,690</b>
 </td>
 <td><b>43.83</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>4,014
 </td>
 <td></td>
 <td>1,608
 </td>
 <td></td>
 <td>1,896
 </td>
 <td></td>
 <td>766
 </td>
 <td></td>
 <td>40,830
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Plateau_State" title="Plateau State">Plateau</a></td>
 <td>468,555
 </td>
 <td>45.28</td>
 <td><b>548,665</b>
 </td>
 <td><b>53.02</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>268
 </td>
 <td></td>
 <td>442
 </td>
 <td></td>
 <td>796
 </td>
 <td></td>
 <td>599
 </td>
 <td></td>
 <td>590
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Rivers_State" title="Rivers State">Rivers</a></td>
 <td>150,710
 </td>
 <td>23.47</td>
 <td><b>473,971</b>
 </td>
 <td><b>73.81</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>372
 </td>
 <td></td>
 <td>415
 </td>
 <td></td>
 <td>365
 </td>
 <td></td>
 <td>1,244
 </td>
 <td></td>
 <td>597
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Sokoto_State" title="Sokoto State">Sokoto</a></td>
 <td><b>490,333</b>
 </td>
 <td><b>56.24</b></td>
 <td>361,604
 </td>
 <td>41.47
 </td>
 <td>
 </td>
 <td></td>
 <td>181
 </td>
 <td></td>
 <td>184
 </td>
 <td></td>
 <td>84
 </td>
 <td></td>
 <td>301
 </td>
 <td></td>
 <td>331
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Taraba_State" title="Taraba State">Taraba</a></td>
 <td>324,906
 </td>
 <td>45.58</td>
 <td><b>374,743</b>
 </td>
 <td><b>52.57</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>116
 </td>
 <td></td>
 <td>80
 </td>
 <td></td>
 <td>35
 </td>
 <td></td>
 <td>862
 </td>
 <td></td>
 <td>211
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Yobe_State" title="Yobe State">Yobe</a></td>
 <td><b>497,914</b>
 </td>
 <td><b>89.01</b></td>
 <td>50,763
 </td>
 <td>9.08
 </td>
 <td>
 </td>
 <td></td>
 <td>137
 </td>
 <td></td>
 <td>36
 </td>
 <td></td>
 <td>37
 </td>
 <td></td>
 <td>180
 </td>
 <td></td>
 <td>162
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a href="/wiki/Zamfara_State" title="Zamfara State">Zamfara</a></td>
 <td><b>438,682</b>
 </td>
 <td><b>75.84</b></td>
 <td>125,423
 </td>
 <td>21.68
 </td>
 <td>
 </td>
 <td></td>
 <td>186
 </td>
 <td></td>
 <td>44
 </td>
 <td></td>
 <td>24
 </td>
 <td></td>
 <td>81
 </td>
 <td></td>
 <td>186
 </td>
 <td>
 </td></tr>
 <tr>
 <td align="left"><a class="mw-redirect" href="/wiki/Federal_Capital_Territory,_Nigeria" title="Federal Capital Territory, Nigeria">FCT</a></td>
 <td>152,224
 </td>
 <td>35.91</td>
 <td><b>259,997</b>
 </td>
 <td><b>61.33</b>
 </td>
 <td>
 </td>
 <td></td>
 <td>583
 </td>
 <td></td>
 <td>1,083
 </td>
 <td></td>
 <td>652
 </td>
 <td></td>
 <td>410
 </td>
 <td></td>
 <td>246
 </td>
 <td>
 </td></tr>
 <tr class="sortbottom" style="font-weight:bold">
 <td align="left">Total</td>
 <td>15,191,847</td>
 <td>55.60</td>
 <td>11,262,978</td>
 <td>41.22</td>
 <td>110,196</td>
 <td>0.40</td>
 <td>33,953</td>
 <td></td>
 <td>21,886</td>
 <td></td>
 <td>16,779</td>
 <td></td>
 <td>34,746</td>
 <td></td>
 <td>97,874</td>
 <td>
 </td></tr>
 <tr class="sortbottom">
 <td align="left" colspan="24">Source: <a href="/wiki/BBC" title="BBC">BBC</a>, <a href="/wiki/This_Day" title="This Day">This Day</a>, <a href="/wiki/Vanguard_(Nigeria)" title="Vanguard (Nigeria)">Vanguard</a><sup class="reference" id="cite_ref-49"><a href="#cite_note-49">[49]</a></sup><sup class="reference" id="cite_ref-50"><a href="#cite_note-50">[50]</a></sup><sup class="reference" id="cite_ref-51"><a href="#cite_note-51">[51]</a></sup>
 </td></tr></tbody></table>]

Change to dataframe

In [5]:
wikipedia_df=pd.read_html(str(wikipedia_table))

In [6]:
wikipedia_df

[                                          State  \
                                           State
 0                                          Abia
 1                                       Adamawa
 2                                     Akwa Ibom
 3                                       Anambra
 4                                        Bauchi
 5                                       Bayelsa
 6                                         Benue
 7                                         Borno
 8                                   Cross River
 9                                         Delta
 10                                       Ebonyi
 11                                          Edo
 12                                        Ekiti
 13                                        Enugu
 14                                        Gombe
 15                                          Imo
 16                                       Jigawa
 17                                       Kaduna
 18                                         Kano
 19                                      Katsina
 20                                        Kebbi
 21                                         Kogi
 22                                        Kwara
 23                                        Lagos
 24                                    Nassarawa
 25                                        Niger
 26                                         Ogun
 27                                         Ondo
 28                                         Osun
 29                                          Oyo
 30                                      Plateau
 31                                       Rivers
 32                                       Sokoto
 33                                       Taraba
 34                                         Yobe
 35                                      Zamfara
 36                                          FCT
 37                                        Total
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                          Buhari  \
                                           Votes
 0                                         85058
 1                                        378078
 2                                        175429
 3                                         33298
 4                                        798428
 5                                        118821
 6                                        347668
 7                                        836496
 8                                        117302
 9                                        221292
 10                                        90726
 11                                       267842
 12                                       219231
 13                                        54423
 14                                       402961
 15                                       140463
 16                                       794738
 17                                       993445
 18                                      1464768
 19                                      1232133
 20                                       581552
 21                                       285894
 22                                       308984
 23                                       580825
 24                                       289903
 25                                       612371
 26                                       281762
 27                                       241769
 28                                       347634
 29                                       365229
 30                                       468555
 31                                       150710
 32                                       490333
 33                                       324906
 34                                       497914
 35                                       438682
 36                                       152224
 37                                     15191847
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                                  \
                                               %
 0                                         26.31
 1                                         46.59
 2                                         30.31
 3                                          5.50
 4                                         77.95
 5                                         36.93
 6                                         47.70
 7                                         90.94
 8                                         27.80
 9                                         26.67
 10                                        25.26
 11                                        47.77
 12                                        57.52
 13                                        12.93
 14                                        72.71
 15                                        27.46
 16                                        71.84
 17                                        59.72
 18                                        77.45
 19                                        79.21
 20                                        76.86
 21                                        54.87
 22                                        67.22
 23                                        53.31
 24                                        49.92
 25                                        71.88
 26                                        49.94
 27                                        43.48
 28                                        48.64
 29                                        43.66
 30                                        45.28
 31                                        23.47
 32                                        56.24
 33                                        45.58
 34                                        89.01
 35                                        75.84
 36                                        35.91
 37                                        55.60
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                           Atiku  \
                                           Votes
 0                                        219698
 1                                        410266
 2                                        395832
 3                                        524738
 4                                        209313
 5                                        197933
 6                                        356817
 7                                         71788
 8                                        295737
 9                                        594068
 10                                       258573
 11                                       275691
 12                                       154032
 13                                       355553
 14                                       138484
 15                                       334923
 16                                       289895
 17                                       649612
 18                                       391593
 19                                       308056
 20                                       154282
 21                                       218207
 22                                       138184
 23                                       448015
 24                                       283847
 25                                       218052
 26                                       194655
 27                                       275901
 28                                       337377
 29                                       366690
 30                                       548665
 31                                       473971
 32                                       361604
 33                                       374743
 34                                        50763
 35                                       125423
 36                                       259997
 37                                     11262978
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                                  \
                                               %
 0                                         67.96
 1                                         50.55
 2                                         68.39
 3                                         86.63
 4                                         20.43
 5                                         61.51
 6                                         48.95
 7                                          7.80
 8                                         70.10
 9                                         71.59
 10                                        72.00
 11                                        49.17
 12                                        40.41
 13                                        84.45
 14                                        24.99
 15                                        65.47
 16                                        26.21
 17                                        39.05
 18                                        20.71
 19                                         19.8
 20                                        20.39
 21                                        41.88
 22                                        30.06
 23                                        41.12
 24                                        48.87
 25                                        25.59
 26                                        34.50
 27                                        49.62
 28                                        47.21
 29                                        43.83
 30                                        53.02
 31                                        73.81
 32                                        41.47
 33                                        52.57
 34                                         9.08
 35                                        21.68
 36                                        61.33
 37                                        41.22
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                         Nicolas  \
                                           Votes
 0                                          1489
 1                                          3670
 2                                          1902
 3                                          4374
 4                                          2104
 5                                          1584
 6                                          2793
 7                                           NaN
 8                                           NaN
 9                                           NaN
 10                                          NaN
 11                                          NaN
 12                                          NaN
 13                                          NaN
 14                                          NaN
 15                                          NaN
 16                                          NaN
 17                                          NaN
 18                                          NaN
 19                                          NaN
 20                                          NaN
 21                                          NaN
 22                                          NaN
 23                                          NaN
 24                                          NaN
 25                                          NaN
 26                                          NaN
 27                                          NaN
 28                                          NaN
 29                                          NaN
 30                                          NaN
 31                                          NaN
 32                                          NaN
 33                                          NaN
 34                                          NaN
 35                                          NaN
 36                                          NaN
 37                                       110196
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                                  \
                                               %
 0                                          0.46
 1                                          0.45
 2                                          0.33
 3                                          0.72
 4                                          0.21
 5                                          0.49
 6                                          0.38
 7                                           NaN
 8                                           NaN
 9                                           NaN
 10                                          NaN
 11                                          NaN
 12                                          NaN
 13                                          NaN
 14                                          NaN
 15                                          NaN
 16                                          NaN
 17                                          NaN
 18                                          NaN
 19                                          NaN
 20                                          NaN
 21                                          NaN
 22                                          NaN
 23                                          NaN
 24                                          NaN
 25                                          NaN
 26                                          NaN
 27                                          NaN
 28                                          NaN
 29                                          NaN
 30                                          NaN
 31                                          NaN
 32                                          NaN
 33                                          NaN
 34                                          NaN
 35                                          NaN
 36                                          NaN
 37                                         0.40
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                          Sowore  \
                                           Votes
 0                                           212
 1                                           282
 2                                           222
 3                                           124
 4                                           183
 5                                           126
 6                                           309
 7                                           269
 8                                           242
 9                                          1626
 10                                          205
 11                                         3106
 12                                          400
 13                                          219
 14                                          165
 15                                          467
 16                                          226
 17                                          243
 18                                          416
 19                                          186
 20                                          276
 21                                          250
 22                                          401
 23                                         8910
 24                                           75
 25                                          324
 26                                         3196
 27                                         4414
 28                                         1022
 29                                         4014
 30                                          268
 31                                          372
 32                                          181
 33                                          116
 34                                          137
 35                                          186
 36                                          583
 37                                        33953
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                                  \
                                               %
 0                                           NaN
 1                                           NaN
 2                                           NaN
 3                                           NaN
 4                                           NaN
 5                                           NaN
 6                                           NaN
 7                                           NaN
 8                                           NaN
 9                                           NaN
 10                                          NaN
 11                                          NaN
 12                                          NaN
 13                                          NaN
 14                                          NaN
 15                                          NaN
 16                                          NaN
 17                                          NaN
 18                                          NaN
 19                                          NaN
 20                                          NaN
 21                                          NaN
 22                                          NaN
 23                                          NaN
 24                                          NaN
 25                                          NaN
 26                                          NaN
 27                                          NaN
 28                                          NaN
 29                                          NaN
 30                                          NaN
 31                                          NaN
 32                                          NaN
 33                                          NaN
 34                                          NaN
 35                                          NaN
 36                                          NaN
 37                                          NaN
 38  Source: BBC, This Day, Vanguard[49][50][51]

                                         Moghalu  ...  \
                                           Votes  ...
 0                                            88  ...
 1                                           109  ...
 2                                           118  ...
 3                                          4091  ...
 4                                           112  ...
 5                                            50  ...
 6                                           557  ...
 7                                            78  ...
 8                                           217  ...
 9                                           497  ...
 10                                          192  ...
 11                                          531  ...
 12                                           68  ...
 13                                         1379  ...
 14                                           39  ...
 15                                          676  ...
 16                                           67  ...
 17                                          196  ...
 18                                          200  ...
 19                                           61  ...
 20                                           53  ...
 21                                           87  ...
 22                                          140  ...
 23                                         5733  ...
 24                                           44  ...
 25                                          113  ...
 26                                          553  ...
 27                                         1224  ...
 28                                          189  ...
 29                                         1608  ...
 30                                          442  ...
 31                                          415  ...

In [7]:
wikipedia_df=pd.DataFrame(wikipedia_df[0])

In [8]:
wikipedia_df.head(5)

       State  Buhari          Atiku        Nicolas       Sowore      Moghalu  \
       State   Votes      %   Votes      %   Votes     %  Votes    %   Votes
0       Abia   85058  26.31  219698  67.96    1489  0.46    212  NaN      88
1    Adamawa  378078  46.59  410266  50.55    3670  0.45    282  NaN     109
2  Akwa Ibom  175429  30.31  395832  68.39    1902  0.33    222  NaN     118
3    Anambra   33298   5.50  524738  86.63    4374  0.72    124  NaN    4091
4     Bauchi  798428  77.95  209313  20.43    2104  0.21    183  NaN     112

   ... Duke Mailafia      Unnamed: 17_level_0 Unnamed: 18_level_0  \
   ...    %    Votes    % Unnamed: 17_level_1 Unnamed: 18_level_1
0  ...  NaN      336  NaN                 NaN                 NaN
1  ...  NaN     3989  NaN                 NaN                 NaN
2  ...  NaN      230  NaN                 NaN                 NaN
3  ...  NaN      227  NaN                 NaN                 NaN
4  ...  NaN      296  NaN                 NaN                 NaN

  Unnamed: 19_level_0 Unnamed: 20_level_0 Unnamed: 21_level_0  \
  Unnamed: 19_level_1 Unnamed: 20_level_1 Unnamed: 21_level_1
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

  Unnamed: 22_level_0 Unnamed: 23_level_0
  Unnamed: 22_level_1 Unnamed: 23_level_1
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

[5 rows x 24 columns]

# Tekedia

In [9]:
tekedia_url = "https://www.tekedia.com/final-results-of-nigerias-presidential-election-by-states-apc-19-pdp-18/"
tekedia_html = requests.get(tekedia_url)

In [10]:
tekedia_soup = BS(tekedia_html.text, "html.parser")
tekedia_table = tekedia_soup.find("table")

In [11]:
tekedia_table

<table class="r-table__table">
<thead class="r-table__head">
<tr>
<th class="r-table__col-head r-table__col-head--name" scope="col"><button class="r-table__sort-button" data-sort-dir="asc"><span class="r-table__head-text">STATE</span></button></th>
<th class="r-table__col-head r-table__col-head--party" scope="col"><span class="r-table__head-text">APC</span></th>
<th class="r-table__col-head r-table__col-head--party" scope="col"><span class="r-table__head-text">PDP</span></th>
<th class="r-table__col-head r-table__col-head--party" scope="col"><span class="r-table__head-text">AAC</span></th>
<th class="r-table__col-head r-table__col-head--party" scope="col"><span class="r-table__head-text">YPP</span></th>
<th class="r-table__col-head r-table__col-head--party" scope="col"><span class="r-table__head-text">ANN</span></th>
</tr>
</thead>
<tbody class="r-table__body">
<tr>
<td class="r-table__cell">Abia</td>
<td class="r-table__cell">85,058</td>
<td class="r-table__cell r-table__cell--red">219,698</td>
<td class="r-table__cell">212</td>
<td class="r-table__cell">720</td>
<td class="r-table__cell">88</td>
</tr>
<tr>
<td class="r-table__cell">Adamawa</td>
<td class="r-table__cell">378,078</td>
<td class="r-table__cell r-table__cell--red">410,266</td>
<td class="r-table__cell">282</td>
<td class="r-table__cell">109</td>
<td class="r-table__cell">162</td>
</tr>
<tr>
<td class="r-table__cell">Akwa Ibom</td>
<td class="r-table__cell">175,429</td>
<td class="r-table__cell r-table__cell--red">395,832</td>
<td class="r-table__cell">222</td>
<td class="r-table__cell">118</td>
<td class="r-table__cell">95</td>
</tr>
<tr>
<td class="r-table__cell">Anambra</td>
<td class="r-table__cell">33,298</td>
<td class="r-table__cell r-table__cell--red">524,738</td>
<td class="r-table__cell">124</td>
<td class="r-table__cell">4,091</td>
<td class="r-table__cell">45</td>
</tr>
<tr>
<td class="r-table__cell">Bauchi</td>
<td class="r-table__cell r-table__cell--green">798,428</td>
<td class="r-table__cell">209,313</td>
<td class="r-table__cell">183</td>
<td class="r-table__cell">112</td>
<td class="r-table__cell">46</td>
</tr>
<tr>
<td class="r-table__cell">Bayelsa</td>
<td class="r-table__cell">118,821</td>
<td class="r-table__cell r-table__cell--red">197,933</td>
<td class="r-table__cell">126</td>
<td class="r-table__cell">50</td>
<td class="r-table__cell">37</td>
</tr>
<tr>
<td class="r-table__cell">Benue</td>
<td class="r-table__cell">347,668</td>
<td class="r-table__cell r-table__cell--red">356,817</td>
<td class="r-table__cell">309</td>
<td class="r-table__cell">557</td>
<td class="r-table__cell">201</td>
</tr>
<tr>
<td class="r-table__cell">Borno</td>
<td class="r-table__cell r-table__cell--green">836,496</td>
<td class="r-table__cell">71,788</td>
<td class="r-table__cell">269</td>
<td class="r-table__cell">78</td>
<td class="r-table__cell">29</td>
</tr>
<tr>
<td class="r-table__cell">Cross River</td>
<td class="r-table__cell">117,302</td>
<td class="r-table__cell r-table__cell--red">295,737</td>
<td class="r-table__cell">242</td>
<td class="r-table__cell">217</td>
<td class="r-table__cell">88</td>
</tr>
<tr>
<td class="r-table__cell">Delta</td>
<td class="r-table__cell">221,292</td>
<td class="r-table__cell r-table__cell--red">594,068</td>
<td class="r-table__cell">1,626</td>
<td class="r-table__cell">497</td>
<td class="r-table__cell">320</td>
</tr>
<tr>
<td class="r-table__cell">Ebonyi</td>
<td class="r-table__cell">90,726</td>
<td class="r-table__cell r-table__cell--red">258,573</td>
<td class="r-table__cell">205</td>
<td class="r-table__cell">192</td>
<td class="r-table__cell">683</td>
</tr>
<tr>
<td class="r-table__cell">Edo</td>
<td class="r-table__cell">267,842</td>
<td class="r-table__cell r-table__cell--red">275,691</td>
<td class="r-table__cell">3,106</td>
<td class="r-table__cell">531</td>
<td class="r-table__cell">273</td>
</tr>
<tr>
<td class="r-table__cell">Ekiti</td>
<td class="r-table__cell r-table__cell--green">219,231</td>
<td class="r-table__cell">154,032</td>
<td class="r-table__cell">400</td>
<td class="r-table__cell">68</td>
<td class="r-table__cell">88</td>
</tr>
<tr>
<td class="r-table__cell">Enugu</td>
<td class="r-table__cell">54,423</td>
<td class="r-table__cell r-table__cell--red">355,553</td>
<td class="r-table__cell">219</td>
<td class="r-table__cell">1,379</td>
<td class="r-table__cell">141</td>
</tr>
<tr>
<td class="r-table__cell">FCT</td>
<td class="r-table__cell">152,224</td>
<td class="r-table__cell r-table__cell--red">259,997</td>
<td class="r-table__cell">583</td>
<td class="r-table__cell">1,083</td>
<td class="r-table__cell">652</td>
</tr>
<tr>
<td class="r-table__cell">Gombe</td>
<td class="r-table__cell r-table__cell--green">402,961</td>
<td class="r-table__cell">138,484</td>
<td class="r-table__cell">165</td>
<td class="r-table__cell">39</td>
<td class="r-table__cell">78</td>
</tr>
<tr>
<td class="r-table__cell">Imo</td>
<td class="r-table__cell">140,463</td>
<td class="r-table__cell r-table__cell--red">334,923</td>
<td class="r-table__cell">467</td>
<td class="r-table__cell">676</td>
<td class="r-table__cell">119</td>
</tr>
<tr>
<td class="r-table__cell">Jigawa</td>
<td class="r-table__cell r-table__cell--green">794,738</td>
<td class="r-table__cell">289,895</td>
<td class="r-table__cell">226</td>
<td class="r-table__cell">67</td>
<td class="r-table__cell">66</td>
</tr>
<tr>
<td class="r-table__cell">Kaduna</td>
<td class="r-table__cell r-table__cell--green">993,445</td>
<td class="r-table__cell">649,612</td>
<td class="r-table__cell">243</td>
<td class="r-table__cell">196</td>
<td class="r-table__cell">261</td>
</tr>
<tr>
<td class="r-table__cell">Kano</td>
<td class="r-table__cell r-table__cell--green">1,464,768</td>
<td class="r-table__cell">391,593</td>
<td class="r-table__cell">416</td>
<td class="r-table__cell">200</td>
<td class="r-table__cell">114</td>
</tr>
<tr>
<td class="r-table__cell">Katsina</td>
<td class="r-table__cell r-table__cell--green">1,232,133</td>
<td class="r-table__cell">308,056</td>
<td class="r-table__cell">186</td>
<td class="r-table__cell">61</td>
<td class="r-table__cell">82</td>
</tr>
<tr>
<td class="r-table__cell">Kebbi</td>
<td class="r-table__cell r-table__cell--green">581,552</td>
<td class="r-table__cell">154,282</td>
<td class="r-table__cell">276</td>
<td class="r-table__cell">53</td>
<td class="r-table__cell">99</td>
</tr>
<tr>
<td class="r-table__cell">Kogi</td>
<td class="r-table__cell r-table__cell--green">285,894</td>
<td class="r-table__cell">218,207</td>
<td class="r-table__cell">250</td>
<td class="r-table__cell">87</td>
<td class="r-table__cell">89</td>
</tr>
<tr>
<td class="r-table__cell">Kwara</td>
<td class="r-table__cell r-table__cell--green">308,984</td>
<td class="r-table__cell">138,184</td>
<td class="r-table__cell">401</td>
<td class="r-table__cell">140</td>
<td class="r-table__cell">422</td>
</tr>
<tr>
<td class="r-table__cell">Lagos</td>
<td class="r-table__cell r-table__cell--green">580,825</td>
<td class="r-table__cell">448,015</td>
<td class="r-table__cell">8,910</td>
<td class="r-table__cell">5,733</td>
<td class="r-table__cell">6,946</td>
</tr>
<tr>
<td class="r-table__cell">Nasarawa</td>
<td class="r-table__cell r-table__cell--green">289,903</td>
<td class="r-table__cell">283,847</td>
<td class="r-table__cell">75</td>
<td class="r-table__cell">44</td>
<td class="r-table__cell">45</td>
</tr>
<tr>
<td class="r-table__cell">Niger</td>
<td class="r-table__cell r-table__cell--green">612,371</td>
<td class="r-table__cell">218,052</td>
<td class="r-table__cell">324</td>
<td class="r-table__cell">113</td>
<td class="r-table__cell">145</td>
</tr>
<tr>
<td class="r-table__cell">Ogun</td>
<td class="r-table__cell r-table__cell--green">281,762</td>
<td class="r-table__cell">194,655</td>
<td class="r-table__cell">3,196</td>
<td class="r-table__cell">553</td>
<td class="r-table__cell">1,509</td>
</tr>
<tr>
<td class="r-table__cell">Ondo</td>
<td class="r-table__cell">241,769</td>
<td class="r-table__cell r-table__cell--red">275,901</td>
<td class="r-table__cell">4,414</td>
<td class="r-table__cell">1,224</td>
<td class="r-table__cell">311</td>
</tr>
<tr>
<td class="r-table__cell">Osun</td>
<td class="r-table__cell r-table__cell--green">347,634</td>
<td class="r-table__cell">337,377</td>
<td class="r-table__cell">1,022</td>
<td class="r-table__cell">189</td>
<td class="r-table__cell">268</td>
</tr>
<tr>
<td class="r-table__cell">Oyo</td>
<td class="r-table__cell">365,229</td>
<td class="r-table__cell r-table__cell--red">366,690</td>
<td class="r-table__cell">4,014</td>
<td class="r-table__cell">1,608</td>
<td class="r-table__cell">1,896</td>
</tr>
<tr>
<td class="r-table__cell">Plateau</td>
<td class="r-table__cell">468,555</td>
<td class="r-table__cell r-table__cell--red">548,665</td>
<td class="r-table__cell">268</td>
<td class="r-table__cell">442</td>
<td class="r-table__cell">796</td>
</tr>
<tr>
<td class="r-table__cell">Rivers</td>
<td class="r-table__cell">150,710</td>
<td class="r-table__cell r-table__cell--red">473,971</td>
<td class="r-table__cell">372</td>
<td class="r-table__cell">415</td>
<td class="r-table__cell">365</td>
</tr>
<tr>
<td class="r-table__cell">Sokoto</td>
<td class="r-table__cell r-table__cell--green">490,333</td>
<td class="r-table__cell">361,604</td>
<td class="r-table__cell">181</td>
<td class="r-table__cell">84</td>
<td class="r-table__cell">124</td>
</tr>
<tr>
<td class="r-table__cell">Taraba</td>
<td class="r-table__cell">324,906</td>
<td class="r-table__cell r-table__cell--red">374,743</td>
<td class="r-table__cell">116</td>
<td class="r-table__cell">80</td>
<td class="r-table__cell">35</td>
</tr>
<tr>
<td class="r-table__cell">Yobe</td>
<td class="r-table__cell r-table__cell--green">497,914</td>
<td class="r-table__cell">50,763</td>
<td class="r-table__cell">137</td>
<td class="r-table__cell">36</td>
<td class="r-table__cell">37</td>
</tr>
<tr>
<td class="r-table__cell">Zamfara</td>
<td class="r-table__cell r-table__cell--green">438,682</td>
<td class="r-table__cell">125,423</td>
<td class="r-table__cell">186</td>
<td class="r-table__cell">44</td>
<td class="r-table__cell">24</td>
</tr>
</tbody>
<tfoot class="r-table__footer">
<tr>
<td class="r-table__cell"><b>Total:</b></td>
<td class="r-table__cell"><b>15,191,847</b></td>
<td class="r-table__cell"><b>11,262,978</b></td>
<td class="r-table__cell"><b>33,953</b></td>
<td class="r-table__cell"><b>21,886</b></td>
<td class="r-table__cell"><b>16,779</b></td>
</tr>
</tfoot>
</table>

In [12]:
pd.read_html(str(tekedia_table))

[          STATE       APC       PDP    AAC    YPP    ANN
 0          Abia     85058    219698    212    720     88
 1       Adamawa    378078    410266    282    109    162
 2     Akwa Ibom    175429    395832    222    118     95
 3       Anambra     33298    524738    124   4091     45
 4        Bauchi    798428    209313    183    112     46
 5       Bayelsa    118821    197933    126     50     37
 6         Benue    347668    356817    309    557    201
 7         Borno    836496     71788    269     78     29
 8   Cross River    117302    295737    242    217     88
 9         Delta    221292    594068   1626    497    320
 10       Ebonyi     90726    258573    205    192    683
 11          Edo    267842    275691   3106    531    273
 12        Ekiti    219231    154032    400     68     88
 13        Enugu     54423    355553    219   1379    141
 14          FCT    152224    259997    583   1083    652
 15        Gombe    402961    138484    165     39     78
 16          Imo    140463    334923    467    676    119
 17       Jigawa    794738    289895    226     67     66
 18       Kaduna    993445    649612    243    196    261
 19         Kano   1464768    391593    416    200    114
 20      Katsina   1232133    308056    186     61     82
 21        Kebbi    581552    154282    276     53     99
 22         Kogi    285894    218207    250     87     89
 23        Kwara    308984    138184    401    140    422
 24        Lagos    580825    448015   8910   5733   6946
 25     Nasarawa    289903    283847     75     44     45
 26        Niger    612371    218052    324    113    145
 27         Ogun    281762    194655   3196    553   1509
 28         Ondo    241769    275901   4414   1224    311
 29         Osun    347634    337377   1022    189    268
 30          Oyo    365229    366690   4014   1608   1896
 31      Plateau    468555    548665    268    442    796
 32       Rivers    150710    473971    372    415    365
 33       Sokoto    490333    361604    181     84    124
 34       Taraba    324906    374743    116     80     35
 35         Yobe    497914     50763    137     36     37
 36      Zamfara    438682    125423    186     44     24
 37       Total:  15191847  11262978  33953  21886  16779]

In [13]:
url="https://www.bbc.co.uk/news/resources/idt-f0b25208-4a1d-4068-a204-940cbe88d1d3"
html=requests.get(url)

In [14]:
soup=BS(html.content, "html.parser")
table=soup.find_all("table")

In [15]:
table

[<table class="r-info-table__table">
 <thead class="r-info-table__table-head">
 <tr>
 <th class="r-info-table__col-head">
                                             Candidates
                                         </th>
 <th class="r-info-table__col-head">
                                             Votes
                                         </th>
 <th class="r-info-table__col-head">
                                             %
                                         </th>
 </tr>
 </thead>
 <tbody class="r-info-table__table-body">
 </tbody>
 </table>,
 <table class="r-info-table__table">
 <thead class="r-info-table__table-head">
 <tr>
 <th class="r-info-table__col-head">
                                             Candidates
                                         </th>
 <th class="r-info-table__col-head">
                                             Votes
                                         </th>
 <th class="r-info-table__col-head">
                                             %
                                         </th>
 </tr>
 </thead>
 <tbody class="r-info-table__table-body">
 </tbody>
 </table>,
 <table class="r-info-table__table">
 <thead class="r-info-table__table-head">
 <tr>
 <th class="r-info-table__col-head">
                                                             Candidates
                                                         </th>
 <th class="r-info-table__col-head">
                                                             Votes
                                                         </th>
 <th class="r-info-table__col-head">
                                                             %
                                                         </th>
 </tr>
 </thead>
 <tbody class="r-info-table__table-body">
 </tbody>
 </table>,
 <table class="r-table__table">
 <thead class="r-table__head">
 <th class="r-table__col-head r-table__col-head--name" scope="col">
 <button class="r-table__sort-button" data-sort-dir="asc">
 <span class="r-table__head-text">
                                                 State
                                             </span>
 <svg class="r-table__arrows" height="19" tabindex="-1" viewbox="0 0 16 19" width="16">
 <g fill="none" fill-rule="evenodd">
 <path class="r-table__arrow r-table__arrow--asc r-table__arrow--active" d="M0 8h16L8 0z"></path>
 <path class="r-table__arrow r-table__arrow--desc" d="M16 10H0l8 8z"></path>
 </g>
 </svg>
 </button>
 </th>
 <th class="r-table__col-head r-table__col-head--party" scope="col">
 <span class="r-table__head-text">APC</span>
 </th>
 <th class="r-table__col-head r-table__col-head--party" scope="col">
 <span class="r-table__head-text">PDP</span>
 </th>
 <th class="r-table__col-head r-table__col-head--party" scope="col">
 <span class="r-table__head-text">PCP</span>
 </th>
 <th class="r-table__col-head r-table__col-head--party" scope="col">
 <span class="r-table__head-text">ADC</span>
 </th>
 <th class="r-table__col-head r-table__col-head--party" scope="col">
 <span class="r-table__head-text">APGA</span>
 </th>

 </thead>
 <tbody class="r-table__body">
 <tr>
 <td class="r-table__cell">
                                                 Abia
                                             </td>
 <td class="r-table__cell">
                                                 85,058
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 219,698
                                             </td>
 <td class="r-table__cell">
                                                 1,489
                                             </td>
 <td class="r-table__cell">
                                                 336
                                             </td>
 <td class="r-table__cell">
                                                 9,638
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Adamawa
                                             </td>
 <td class="r-table__cell">
                                                 378,078
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 410,266
                                             </td>
 <td class="r-table__cell">
                                                 3,670
                                             </td>
 <td class="r-table__cell">
                                                 3,989
                                             </td>
 <td class="r-table__cell">
                                                 159
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Akwa Ibom
                                             </td>
 <td class="r-table__cell">
                                                 175,429
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 395,832
                                             </td>
 <td class="r-table__cell">
                                                 1,902
                                             </td>
 <td class="r-table__cell">
                                                 230
                                             </td>
 <td class="r-table__cell">
                                                 61
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Anambra
                                             </td>
 <td class="r-table__cell">
                                                 33,298
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 524,738
                                             </td>
 <td class="r-table__cell">
                                                 4,374
                                             </td>
 <td class="r-table__cell">
                                                 227
                                             </td>
 <td class="r-table__cell">
                                                 30,034
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Bauchi
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 798,428
                                             </td>
 <td class="r-table__cell">
                                                 209,313
                                             </td>
 <td class="r-table__cell">
                                                 2,104
                                             </td>
 <td class="r-table__cell">
                                                 296
                                             </td>
 <td class="r-table__cell">
                                                 149
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Bayelsa
                                             </td>
 <td class="r-table__cell">
                                                 118,821
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 197,933
                                             </td>
 <td class="r-table__cell">
                                                 1,584
                                             </td>
 <td class="r-table__cell">
                                                 1,078
                                             </td>
 <td class="r-table__cell">
                                                 53
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Benue
                                             </td>
 <td class="r-table__cell">
                                                 347,668
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 356,817
                                             </td>
 <td class="r-table__cell">
                                                 2,793
                                             </td>
 <td class="r-table__cell">
                                                 554
                                             </td>
 <td class="r-table__cell">
                                                 4,582
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Borno
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 836,496
                                             </td>
 <td class="r-table__cell">
                                                 71,788
                                             </td>
 <td class="r-table__cell">
                                                 1,563
                                             </td>
 <td class="r-table__cell">
                                                 301
                                             </td>
 <td class="r-table__cell">
                                                 187
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Cross River
                                             </td>
 <td class="r-table__cell">
                                                 117,302
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 295,737
                                             </td>
 <td class="r-table__cell">
                                                 2,033
                                             </td>
 <td class="r-table__cell">
                                                 326
                                             </td>
 <td class="r-table__cell">
                                                 43
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Delta
                                             </td>
 <td class="r-table__cell">
                                                 221,292
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 594,068
                                             </td>
 <td class="r-table__cell">
                                                 2,753
                                             </td>
 <td class="r-table__cell">
                                                 1,075
                                             </td>
 <td class="r-table__cell">
                                                 145
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Ebonyi
                                             </td>
 <td class="r-table__cell">
                                                 90,726
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 258,573
                                             </td>
 <td class="r-table__cell">
                                                 1,637
                                             </td>
 <td class="r-table__cell">
                                                 213
                                             </td>
 <td class="r-table__cell">
                                                 222
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Edo
                                             </td>
 <td class="r-table__cell">
                                                 267,842
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 275,691
                                             </td>
 <td class="r-table__cell">
                                                 3,526
                                             </td>
 <td class="r-table__cell">
                                                 850
                                             </td>
 <td class="r-table__cell">
                                                 143
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Ekiti
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 219,231
                                             </td>
 <td class="r-table__cell">
                                                 154,032
                                             </td>
 <td class="r-table__cell">
                                                 2,299
                                             </td>
 <td class="r-table__cell">
                                                 406
                                             </td>
 <td class="r-table__cell">
                                                 39
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Enugu
                                             </td>
 <td class="r-table__cell">
                                                 54,423
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 355,553
                                             </td>
 <td class="r-table__cell">
                                                 2,337
                                             </td>
 <td class="r-table__cell">
                                                 348
                                             </td>
 <td class="r-table__cell">
                                                 1,618
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 FCT
                                             </td>
 <td class="r-table__cell">
                                                 152,224
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 259,997
                                             </td>
 <td class="r-table__cell">
                                                 2,921
                                             </td>
 <td class="r-table__cell">
                                                 246
                                             </td>
 <td class="r-table__cell">
                                                 255
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Gombe
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 402,961
                                             </td>
 <td class="r-table__cell">
                                                 138,484
                                             </td>
 <td class="r-table__cell">
                                                 1,679
                                             </td>
 <td class="r-table__cell">
                                                 248
                                             </td>
 <td class="r-table__cell">
                                                 124
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Imo
                                             </td>
 <td class="r-table__cell">
                                                 140,463
                                             </td>
 <td class="r-table__cell r-table__cell--red">
                                                 334,923
                                             </td>
 <td class="r-table__cell">
                                                 4,883
                                             </td>
 <td class="r-table__cell">
                                                 541
                                             </td>
 <td class="r-table__cell">
                                                 10,880
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Jigawa
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 794,738
                                             </td>
 <td class="r-table__cell">
                                                 289,895
                                             </td>
 <td class="r-table__cell">
                                                 2,761
                                             </td>
 <td class="r-table__cell">
                                                 261
                                             </td>
 <td class="r-table__cell">
                                                 140
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Kaduna
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 993,445
                                             </td>
 <td class="r-table__cell">
                                                 649,612
                                             </td>
 <td class="r-table__cell">
                                                 4,027
                                             </td>
 <td class="r-table__cell">
                                                 558
                                             </td>
 <td class="r-table__cell">
                                                 749
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Kano
                                             </td>
 <td class="r-table__cell r-table__cell--green">
                                                 1,464,768
                                             </td>
 <td class="r-table__cell">
                                                 391,593
                                             </td>
 <td class="r-table__cell">
                                                 3,568
                                             </td>
 <td class="r-table__cell">
                                                 591
                                             </td>
 <td class="r-table__cell">
                                                 549
                                             </td>
 </tr>
 <tr>
 <td class="r-table__cell">
                                                 Katsina

In [18]:
path_to_tesseract = r"C:\Program Files(x86)\Tesseract-OCR\tesseract.exe"
image_path=r"C:\Users\Favour\Documents\PYTHON FILES\Personal Project\Nigeria Elections\2019\2019_result.png"

In [19]:
img =Image.open(image_path)

In [21]:
pytesseract.tesseract_cmd = path_to_tesseract

In [22]:
text = pytesseract.image_to_string(img)

TesseractNotFoundError: C:\Program Files(x86)\Tesseract-OCR\tesseract.exe is not installed or it's not in your PATH. See README file for more information.

In [1]:
where tesseract

SyntaxError: invalid syntax (<ipython-input-1-72ed4d05d78b>, line 1)